.header {
  height: 100vh;
  position: relative;
  background-color: #c4c4c4;
  color: #fff;
  
}

.header a {
  color: #fff;
}

.header__content {
  position: absolute;
  z-index: 9;
  top: 50px;
  left: 70px;
  right: 70px;
  bottom: 80px;
  pointer-events: none;

  @media (max-width: 1200px) {
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 60px;
  }

  @media (max-width: 768px) {
    top: 30px;
    left: 5%;
    right: 5%;
    bottom: 30px;
  }
}

.header__nav {
  pointer-events: all;
}

.header__socials {
  pointer-events: all;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  // background-color: #9d9c9c94;
  // height: 120px;
  // width: 20px;

  @media (max-width: 768px) {
    display: none;
  }
  @media (max-height: 600px) {
    top: 40%;
  }
  
}
.header__see-more {
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: all;
}
.header__slider-controls {
  pointer-events: all;

  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: all;

}
.header__scrollbar {
  pointer-events: all;
  position: absolute;
  right: 0;
  top: 50%;
  left: auto;
  transform: translate(0%, -50%);

  width: 10px;
  height: 400px;
  background-color: #9d9c9c94;
}